<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiayou.fyg.hellolibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name="com.jiayou.fyg.hellolibrary.Feature1"> </activity>


        <activity android:name="com.jiayou.fyg.hellolibrary.Feature4"></activity>

        
        <activity android:name="com.jiayou.fyg.hellolibrary.Feature3"></activity>



        <meta-data
            android:name="JIUXIAN_CHANNEL"
            android:value="jiuxianwebsite" />
        <meta-data
            android:name="BUILD_TIME"
            android:value="${BUILD_TIME_VALUE}" />

    </application>

</manifest>